# Operation on list

####  Create a List

In [1]:
my_list = [19, 44, 41, 67, 56]
print("Created List:", my_list)

Created List: [19, 44, 41, 67, 56]

#### Append an Element

In [2]:
my_list.append(66)
print("After Append:", my_list)

After Append: [19, 44, 41, 67, 56, 66]

####  Insert an Element

In [3]:
my_list.insert(2, 9)  
print("After Insert:", my_list)

After Insert: [19, 44, 9, 41, 67, 56, 66]

####  Remove an Element

In [4]:
my_list.remove(56)
print("After Remove:", my_list)

After Remove: [19, 44, 9, 41, 67, 66]

####  Reverse the List

In [5]:
my_list.reverse()
print("After Reverse:", my_list)

After Reverse: [66, 67, 41, 9, 44, 19]

# Operation on tuple

#### Create a Tuple

In [6]:
my_tuple = (56,67,17,90,36)
print("Created Tuple:", my_tuple)

Created Tuple: (56, 67, 17, 90, 36)

#### Access an Element

In [7]:
print("Element at index 1:", my_tuple[1])

Element at index 1: 67

#### Concatenate Tuples

In [8]:
new_tuple = my_tuple + (62, 87)
print("After Concatenation:", new_tuple)

After Concatenation: (56, 67, 17, 90, 36, 62, 87)

#### Repeat the Tuple

In [9]:
repeat_tuple = my_tuple * 3
print("After Repetition:", repeat_tuple)

After Repetition: (56, 67, 17, 90, 36, 56, 67, 17, 90, 36, 56, 67, 17, 90, 36)

#### Find Maximum Value

In [10]:
print("Maximum Value in Tuple:", max(my_tuple))

Maximum Value in Tuple: 90

# Operation on set

#### Create a Set

In [43]:
my_set = {18,56,89,35,17}
print("Created Set:", my_set)

Created Set: {17, 18, 35, 56, 89}

#### Add an Element

In [44]:
my_set.add(55)
print("After Add:", my_set)

After Add: {17, 18, 35, 55, 56, 89}

#### Remove an Element

In [45]:
my_set.remove(35)
print("After Remove:", my_set)

After Remove: {17, 18, 55, 56, 89}

#### Union of Sets

In [46]:
new_set = {65, 17, 85}
union_set = my_set.union(new_set)
print("After Union:", union_set)

After Union: {17, 18, 65, 85, 55, 56, 89}

#### Intersection of Sets

In [42]:
inter_set = my_set.intersection({18,56,85})
print("After Intersection:", inter_set)

After Intersection: {56, 18}

# Operation on dictionary

#### Create a Dictionary

In [27]:
my_dict = {"roll": 1240120121055, "name": "Yaheya", "dept": "CSE"}
print("Created Dictionary:", my_dict)

Created Dictionary: {'roll': 1240120121055, 'name': 'Yaheya', 'dept': 'CSE'}

#### Add a New Key-Value Pair

In [28]:
my_dict["year"] = 2025
print("After Adding:", my_dict)

After Adding: {'roll': 1240120121055, 'name': 'Yaheya', 'dept': 'CSE', 'year': 2025}

#### Update a Value

In [29]:
my_dict["name"] = "Thoufic"
print("After Update:", my_dict)

After Update: {'roll': 1240120121055, 'name': 'Thoufic', 'dept': 'CSE', 'year': 2025}

#### Remove a Key-Value Pair

In [30]:
my_dict.pop("dept")
print("After Remove:", my_dict)

After Remove: {'roll': 1240120121055, 'name': 'Thoufic', 'year': 2025}

#### Get All Keys

In [31]:
print("All Keys:", my_dict.keys())

All Keys: dict_keys(['roll', 'name', 'year'])